In [1]:
a="7657"
a=int(a)
print(type(a))
print(a+5)

<class 'int'>
7662

In [7]:
# dictionaryprogram to traslate hindi to english
mydict={
    "pankha":"fan",
    "Dabba":"Box",
    "vastu":"item"
}
print(mydict.keys())
a=input("enter the hindi word\n")
#print('the meaning of your word is:',mydict[a])
print("the meaning of your word is:",mydict.get(a))

dict_keys(['pankha', 'Dabba', 'vastu'])
enter the hindi word
box
the meaning of your word is: None

In [9]:
print("kaka gandu :4*4")

kaka gandu :4*4

In [6]:
#creatimg a list using []
a=[2,4,5,6,7,8,9]
print(a[0])

2

In [7]:
a=[2,4,5,6,7,8,9]
a[0]=98
print(a)

[98, 4, 5, 6, 7, 8, 9]

In [13]:
#list slicing
friends=["sushant","reetesh","rohit","sumit","sonu"]
print(friends[0:4])

['sushant', 'reetesh', 'rohit', 'sumit']

In [19]:
l1=[2,4,5,6,7,8,9]
l1.sort()
print(l1)

[2, 4, 5, 6, 7, 8, 9]

In [27]:
#creating a tuple using()
t=(2,4,5,6,7,8,9,10,)
print(t.index(5))

2

In [28]:
mydict={
    "man":"handsome hunk",
    "sushant":"a coder"
}
print(mydict["man"])

handsome hunk

In [16]:
letter='''dear <|name|>,
greetings from abc coding house.i am happy to tell you about your selection
    you are selected!
    have a great day ahead!
    thanks and regards,
bill
date:<|date|>'''
name=input("enter your name")
date=input("enter date")
letter=letter.replace("<|name|>",name)
letter=letter.replace("<|date|>",date)
print(letter)

enter your namesusahnt
enter date22-10-2000
dear susahnt,
greetings from abc coding house.i am happy to tell you about your selection
    you are selected!
    have a great day ahead!
    thanks and regards,
bill
date:22-10-2000

In [20]:
letter="dear sushant,this python course is nice!thanks!"
print(letter)
formated_letter="dear sushant,\n\tthis python ciurse is nice!\n\tthanks!"
print(formated_letter)

dear sushant,this python course is nice!thanks!
dear sushant,
	this python ciurse is nice!
	thanks!

In [24]:
list
a=[2,3,4,5,55,66]
print(a[3])

5

In [1]:
print("radheshyam")

radheshyam

In [3]:
a=int(input("enter the no a:"))
b=int(input("enter the no b:"))
c=input("enter the operator")
if c== "+":
    print(a+b)
elif c== "-":
    print(a-b)
elif c== "/":
    print(a/b)
elif c== "*":
    print(a*b)
else:
    print("invalid operator")

enter the no a:4
enter the no b:5
enter the operator+
9

In [4]:
a=int(input("enter the no a"))
b=int(input("enter the no b"))
c=input("enter the operator")
if c=="+":
    print(a+b)
elif c=="-":
    print(a-b)
elif c=="*":
    print(a*b)
elif c=="/":
    print(a/b)
else:
    print("invalid operator")

enter the no a66
enter the no b77
enter the operator-
-11

In [1]:
a= int(input("enter the no.:"))
i=1
while i<11:
    print(a,"*",i,"=",a*i)
    i=i+1

enter the no.:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [2]:
a=int(input("enter the no.:"))
i=1
while i<11:
    print(a,"*",i,"=",a*i)
    i=i+1

enter the no.:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [16]:
a=int(input("enter the no :"))
for i in range(1,11):
    print(a,"*",i,"=",a*i)
    i=i+1

enter the no :2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [2]:
a=input("enter your name")
print(a)

enter your namesushant
sushant

In [3]:
a=input("enter your name: ")
print(a)

enter your name: sushant
sushant

In [4]:
a=input("enter your number")
b=int(a)
print(type(a))

enter your number43
<class 'str'>

In [5]:
a=30
b=43
print("the sum of a and b is.",a+b)

the sum of a and b is. 73

In [7]:
a=456
b=54
print("the reminder when a is divided by b is",a%b)

the reminder when a is divided by b is 24

In [8]:
a=45
b= 23
print("the sum of a and b is:",a+b)

the sum of a and b is: 68

In [12]:
a=45
b=6
print("the  reminder divide into a and b is:",a%b)

the  reminder divide into a and b is: 3

In [16]:
a=54
b=72
b<a

False

In [23]:
a=input("enter the first number:")
b=input("enter the second number:")
a=int(a)
b=int(b)
avg=(a+b)/2
print("the average of a and b is:",avg)

enter the first number:65
enter the second number:7
the average of a and b is: 36.0

In [24]:
a=input("enter the first number:")
b=input("enter the second number:")
a=int(a)
b=int(b)
avg=(a+b)/2
print("the average of a and b is:",avg)

enter the first number:4
enter the second number:5
the average of a and b is: 4.5

In [28]:
greeting="goodmorning,:"
name="sushant"
# print(type(name))
c=greeting+name
print(c)

goodmorning,:sushant

In [30]:
name="sushant"
print(name[2])

s

In [37]:
mydict= {
    "fast":"sushant is a good boy",
    "sushant":"a coder"
}
print(mydict['fast'])

sushant is a good boy

In [40]:
mydict={
    "sushant":"much handsome",
    "rahul":"100 acer ki farm h mere mama ki"
}
print(mydict.keys())
print(mydict.values())

dict_keys(['sushant', 'rahul'])
dict_values(['much handsome', '100 acer ki farm h mere mama ki'])

In [12]:
mydict={
    "sushant":"much handsome",
    "reetesh":"polite man"
}
print(mydict.keys())
print(mydict.values())

dict_keys(['sushant', 'reetesh'])
dict_values(['much handsome', 'polite man'])

In [9]:
mydict={
    "fast":"sushant is a good boy",
    "sushant":"a coder"
}
print(mydict['fast'])

sushant is a good boy

In [ ]:
class SushantClothStore:
    def cloths(rp):
        print("\t\t\t\t Sushant Clothing Store")
        print("\t\t\t\t Since-2023")
        print("\t\t\t\t www.cloth.com")
        print("\n\n\t\t\t\t\tCATEGORIES")
        
    def categories(rp):
        x=["Gents Cloths","Ladies Cloths","Kids Cloths","kids Cloths"]
        for k in x:
            print("\n\n",k)
            
    def gents(rp):
        x=["Shirts","T-Shirts","Full Slive","Jeans","Formal Pants","Formal Shirts","Shorts","Lowers"]
        y=[2000,1600,450,3000,800,700,350,280]
        gents_={"Gents Clothes":x,"Price":y}
        import pandas as pd
        df=pd.DataFrame(gents_)
        print("\n\n Gents Cloths \n\n")
        print(df)
        d=[]
        while x:
            x=True
            b=int(input("Enter the value position : "))
            c=int(input("Enter the Quantity:"))
            z=gents_["Price"][b]
            y=z*c
            d.append(y)
            x=input("you want to reorder(yes/no):")
            if(x=="no"):
                print('Thank you')
                break
        t=sum(d)
        m=(sum(d)*0.05)
        k=t+m
        print("servicetax = 5%")
        print("Total Amount:",t,"Rupees")
        print("Total Amount Including Service Tax:",k,"Rupees")
        
        
    def ladies(rp):
        x=["Suits","Saree","Tops","Jeans","T-Shirts","Shorts","Lahnga"]
        y=[2000,1600,450,3000,800,700,350,280]
        ladies_={"Ladies Clothes":x,"Price":y}
        import pandas as pd
        df=pd.DataFrame(ladies_)
        print("\n\n Ladies Cloths \n\n")
        print(df)
        d=[]
        while x:
            x=True
            b=int(input("Enter the value position : "))
            c=int(input("Enter the Quantity:"))
            z=ladies_["Price"][b]
            y=z*c
            d.append(y)
            x=input("you want to reorder(yes/no):")
            if(x=="no"):
                print('Thank you')
                break
        t=sum(d)
        m=(sum(d)*0.05)
        k=t+m
        print("servicetax = 5%")
        print("Total Amount:",t,"Rupees")
        print("Total Amount Including Service Tax:",k,"Rupees")
        
    
        
        
    def kids(rp):
        x=["T-Shirts","Jeans","Shirt","Shorts","Caps"]
        y=[2000,1600,450,3000,800,700,350,280]
        kids_={"Kids Clothes":x,"Price":y}
        import pandas as pd
        df=pd.DataFrame(kids_)
        print("\n\n Kids Cloths \n\n")
        print(df)
        d=[]
        while x:
            x=True
            b=int(input("Enter the value position : "))
            c=int(input("Enter the Quantity:"))
            z=kids_["Price"][b]
            y=z*c
            d.append(y)
            x=input("you want to reorder(yes/no):")
            if(x=="no"):
                print('Thank you')
                break
        t=sum(d)
        m=(sum(d)*0.05)
        k=t+m
        print("servicetax = 5%")
        print("Total Amount:",t,"Rupees")
        print("Total Amount Including Service Tax:",k,"Rupees")
obj=SushantClothStore()
obj.cloths()
obj.categories()
x=input("Enter the Category: ")
if x=="gents":
    print(obj.gents())
elif x=="ladies":
    print(obj.ladies())
elif x=="kids":
    print(obj.kids())
else:
    print("wrong option: \nplease again choose the right option:")

				 Sushant Clothing Store
				 Since-2023
				 www.cloth.com


					CATEGORIES


 Gents Cloths


 Ladies Cloths


 Kids Cloths


 kids Cloths

In [1]:
mtab=("\t\t\t")
mtab2=("\t\t")
mtab3=("\t\t\t\t")
mtab4=("\t")
mtab5=("\t\t\t\t\t")
name=input("enter the candidate name:")
cname=input("enter the course name:")
ccode=input("enter course code:")
regno=input("enter registration no:")
enrollno=int(input("enter enrollment no:"))
date=input("enter date:")
marks1=eval(input("enter the marks obtained in fire extinction:"))
marks2=eval(input("enter the marks obtained in fire protection:"))
marks3=eval(input("enter the marks obtained in fire technology:"))
marks4=eval(input("enter the marks obtained in construction safety:"))
marks5=eval(input("enter the marks obtained in practical 1:"))
marks6=eval(input("enter the marks obtained in practical 2:"))
marks=(marks1+marks2+marks3+marks4+marks5+marks6)
percentage=(marks1+marks2+marks3+marks4+marks5+marks6/600)*100
print("...............................\n")
print(mtab,"ALL INDIA INSTITUTE OF FIRE TECHNOLOGY AND SAFETY")
print("\n","Associated with technical and paramedical education council")
print(mtab2,"An autonomous institution recognized by government of india")
print("\n\n",mtab3,"ANNUAL STATEMENT OF MARKS")
print("..................................................")
print("\n",mtab4,"name of the candiate",mtab3,"course name")
print(mtab4,name,mtab5,cname)
print(".................................")
print("\n",mtab4,"course code",mtab4,"reg.no.",mtab4,"Enrollment no.")
print(mtab4,ccode,mtab4,regno,mtab4,enrollno)
print("...........................")
print("subject code",mtab4,"subject name",mtab2,"max.marks",mtab4,"marks obtained")
print("ADIFSOO17",mtab4,"fire extension",mtab4,"100",mtab2,marks1)
print("ADIFS0018",mtab4,"fire projection",mtab4,"100",mtab2,marks2)
print("ADIFSOO19",mtab4,"fire tecnology",mtab4,mtab2,marks3)
print("ADIFS0020",mtab4,"construction safety",mtab4,"100",mtab2,marks4)
print("ADIFS0024",mtab4,"practical 1",mtab2,"100",mtab2,marks5)
print("ADIFS0025",mtab4,"practical 2",mtab2,marks6)
print("................................")
print("grand total:",marks)
print("................................")
print("month and year of examination",mtab4,"no.of subject offered",mtab4,"percentage")
print("may 2020",mtab3,"t4+p2=6",mtab2,percentage,"%")
print("....................................")
if percentage>=90 and percentage<=100:
    print("grade:a+","pass")
elif percentage>=80 and percentage<=90:
          print("grade:a","pass")
elif percentage>=70 and percentage<80:
                print("grade:b+","pass")
elif percentage>=60 and percentage<70:
                      print("grade:b","pass")
elif percentage>=40 and percentage<60:
                            print("grade:c","fail")
elif percentage>=0 and percentage<=40:
                                  print("grade :d","fail and need improvement")
else:
    
     print("not a valid marks")
print("...................................")
print("date :",date,mtab5,"deputy controller of examination")
print(mtab,"subject marked*indicates exemption")

enter the candidate name:ritesh
enter the course name:fire extention
enter course code:4566
enter registration no:1234
enter enrollment no:100001
enter date:22/10/2000
enter the marks obtained in fire extinction:50
enter the marks obtained in fire protection:70
enter the marks obtained in fire technology:69
enter the marks obtained in construction safety:69
enter the marks obtained in practical 1:80
enter the marks obtained in practical 2:30
...............................

			 ALL INDIA INSTITUTE OF FIRE TECHNOLOGY AND SAFETY

 Associated with technical and paramedical education council
		 An autonomous institution recognized by government of india


 				 ANNUAL STATEMENT OF MARKS
..................................................

 	 name of the candiate 				 course name
	 ritesh 					 fire extention
.................................

 	 course code 	 reg.no. 	 Enrollment no.
	 4566 	 1234 	 100001
...........................
subject code 	 subject name 		 max.marks 	 marks obtained
ADIFSOO17 	 fire extension 	 100 		 50
ADIFS0018 	 fire projection 	 100 		 70
ADIFSOO19 	 fire tecnology 	 		 69
ADIFS0020 	 construction safety 	 100 		 69
ADIFS0024 	 practical 1 		 100 		 80
ADIFS0025 	 practical 2 		 30
................................
grand total: 368
................................
month and year of examination 	 no.of subject offered 	 percentage
may 2020 				 t4+p2=6 		 33805.0 %
....................................
not a valid marks
...................................
date : 22/10/2000 					 deputy controller of examination
			 subject marked*indicates exemption

In [11]:
mtab=("\t\t\t\t\t")
mtab2=("\t\t\t")
billm=input("enter bill month/date:")
cn=input("enter consumer name:")
ca=input("enter consumer address:")
crd=input("ENTER CURRENT READING DATE:")
prd=input("ENTER PAST READING DATE:")
CR=eval(input("ENTER CURRENT READING:"))
pr=eval(input("ENTER PAST READING:"))
tc=CR-pr
fs=69.12
uc=43.35
print("......................\n")
print(mtab,"jaipur vidyut vitran nigam ltd.\n")
print(mtab2,"rigestered office vidyut bhawan,janpath jaipur")
print(mtab2,"pan.no,:AAABCJ6373K,GSTIN,:-08AABCJ6373K127,HSN CODE,:-2716")
print("CIN NO.U40109RJ2000SGCO16486*BILL OF SUPPLY*")
print("..............................................")
print("bill month/date:",billm)
print("subdivision name:aen_f-4_pratap nagar")
print("account no17380051")
print("consumer no:",cn)
print("consumer address:",ca)
print("bill no./meater condition10150/regular")
print("type/terrific code domestic/1000t")
print("sanctioned load:2.00/2.0kw")
print("precious/meter safety amount2316/0")
print("current reading date:",crd)
print("past reading date:",prd)
print("current reading(kwh):",CR)
print("past reading(kwh):",pr)
print("total consumption(unit)",tc)
print("fuel surcharge:69.12")
print("urban cess:43.35")
print("....................................\n")
if tc>=0 and tc<=50:
    total_amount=((tc*4.75)+fs+uc)
    print("total amount till date:","rs.",total_amount,"\n","thank you","\n","govt.pf india")
elif tc>50 and tc<=150:
    total_amount=(237.5+((tc-50)*6.50)+fs+uc)
    print("total amount till date:","rs.",total_amount,"\n","thank you","\n","govt. of india")
elif tc>150 and tc<=300:
    total_amount(237.5+650+((tc-150)*7.35)+fs+uc)
    print("total amount till date:","rs.",total_amount,"\n","thank you","\n","govt. of india")
elif tc>300 and tc<=500:
    total_amount=(237.5+650+1102.5+((tc-300)*7.65)+fs+uc)
    print("total amount till date:","rs.",total_amount,"\n","thank you","\n","govt. of india")
elif tc>500:
    total_amount=(237.5+650+1102.5+1530+((tc-500)*7.95)+fs+uc)
    print("total amount till date:","rs.",total_amount,"\n","thank you","\n","govt. of india")
else:
      print("mater is not working due to:xyz","contact to electricity board","total amount-00(penelty including to next bill)","n","thank you","\n","govt. of india")

enter bill month/date:January
enter consumer name:Sushant
enter consumer address:Jaipur
ENTER CURRENT READING DATE:27-07-2023
ENTER PAST READING DATE:27-06-2023
ENTER CURRENT READING:200
ENTER PAST READING:100
......................

					 jaipur vidyut vitran nigam ltd.

			 rigestered office vidyut bhawan,janpath jaipur
			 pan.no,:AAABCJ6373K,GSTIN,:-08AABCJ6373K127,HSN CODE,:-2716
CIN NO.U40109RJ2000SGCO16486*BILL OF SUPPLY*
..............................................
bill month/date: January
subdivision name:aen_f-4_pratap nagar
account no17380051
consumer no: Sushant
consumer address: Jaipur
bill no./meater condition10150/regular
type/terrific code domestic/1000t
sanctioned load:2.00/2.0kw
precious/meter safety amount2316/0
current reading date: 27-07-2023
past reading date: 27-06-2023
current reading(kwh): 200
past reading(kwh): 100
total consumption(unit) 100
fuel surcharge:69.12
urban cess:43.35
....................................

total amount till date: rs. 674.97
 thank you
 govt. of india

In [16]:
greetings="good night:",
name="sushant raman:",
c=greetings+name
print(c)

('good night:', 'sushant raman:')

In [3]:
a=int(input("enter the no a:"))
i=1
while i<11:
    print(a,"*",i,"=",a*1)
    i=i+1

enter the no a:8
8 * 1 = 8
8 * 2 = 8
8 * 3 = 8
8 * 4 = 8
8 * 5 = 8
8 * 6 = 8
8 * 7 = 8
8 * 8 = 8
8 * 9 = 8
8 * 10 = 8

In [22]:
a=int(input("enter the no a:"))
i=1
for i in range (1,11):
    print(a,"*",i,"=",a*i)
    i=i+1

enter the no a:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50